@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./utils/base";

.page-header {
	&__container {
		@extend %container;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
		@include mobile {
			justify-content: space-between;
			align-items: center;
			position: relative;
		}
	}

	&__logo {
	}

	&__icon {
		display: block;
	}

	&__menu {
	}

	&__nav {
		@include mobile {
			display: none;
			&.is-open {
				display: block;
				width: 130px;
				height: 255px;
				position: absolute;
				top: 50px;
				right: 20px;
				box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
				border-radius: 30px 0px 30px 30px;
				overflow: hidden;
				background-color: var(--prim-bcgd);
			}
		}
	}

	&__item {
	}

	&__link {
		@include mobile {
			@include animated;
			display: inline-block;
			width: 100%;
			padding: 16px;
			font-size: 16px;
			line-height: 1.19;
			color: var(--scnd-text);
			&:hover,
			&:focus,
			&:active {
				background-color: var(--accent);
			}
		}
	}
	&__btn-open {
		@extend %btn-menu;
		@include mobile {
			display: inline-block;
		}
		display: none;
	}
	&__icon-open {
		display: block;
	}

	&__btn-close {
		@extend %btn-menu;
		@include mobile {
			display: inline-block;
			position: absolute;
			top: 4px;
			right: 4px;
		}
		fill: var(--scnd-text);
		display: none;
	}

	&__icon-close {
		display: block;
	}

	&__btn-order {
		@include mobile {
			display: none;
		}
		@extend %btn, %btn-prim;
		display: inline-block;
	}
}
.hero {
	&__container {
		@extend %container;
		@include mobile {
			padding-top: 60px;
			padding-bottom: 50px;
		}
	}

	&__title {
		@extend %title;
	}

	&__description {
		@include mobile {
			margin-top: 28px;
		}
		line-height: 1.5;
	}

	&__btn {
		@extend %btn, %btn-prim;
		@include mobile {
			margin-top: 28px;
		}
		padding: 6px 18px;
	}

	&__slider {
	}
}
.offerings {
	&__container {
		@extend %container;
		@include mobile {
			padding-top: 70px;
			padding-bottom: 60px;
			background-image: url(../img/bcgd/offering_mobile.svg);
		}
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
	}

	&__image {
		&-wrapper {
			position: relative;
			margin: 0 auto;
			width: 280px;
			height: 280px;
			border: 3px solid rgba(255, 255, 255, 0.5);
			border-radius: 50%;
			box-shadow: inset #ffe550 0 0 0 9px;
			background-clip: content-box;
			background-color: var(--prim-bcgd);
			&::after {
				content: "";
				display: block;
				width: 130px;
				height: 45px;
				position: absolute;
				bottom: 38px;
				left: 50%;
				transform: translateX(-50%);
				background: radial-gradient(50% 50% at 50% 50%, #2f583f 0%, rgba(105, 105, 105, 0) 100%);
				filter: blur(6.61818px);
			}
		}
		display: block;
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		@include mobile {
			width: 200px;
			height: 255px;
		}
	}

	&__title {
		@extend %title;
		margin-top: 60px;
	}

	&__description {
		margin-top: 28px;
	}

	&__btn {
		@extend %btn, %btn-scnd;
		margin-top: 38px;
		padding: 8px 20px;
	}

	&__extra {
		margin-left: 24px;
		line-height: 1.5;
		color: var(--scnd-text);
		@include animated(color);
		&::after {
			content: "";
			margin-left: 3px;
			display: inline-block;
			width: 14px;
			height: 14px;
			vertical-align: text-top;
			background-image: url(../img/icons/next-mini.svg);
		}
		&:hover,
		&:focus {
			color: var(--accent);
		}
	}
}
.features {
	&__item {
		margin-top: 28px;
		&:first-child::before {
			content: "";
			display: block;
			width: 48px;
			height: 48px;
			background-image: url(../img/bcgd/delivery.svg);
		}
		&:last-child::before {
			content: "";
			display: block;
			width: 48px;
			height: 48px;
			background-image: url(../img/bcgd/order.svg);
		}
	}

	&__title {
		margin-top: 8px;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.17;
	}

	&__description {
		margin-top: 16px;
	}
}
.favorites {
	&__container {
		@extend %container;
		@extend %section;
		text-align: center;
	}

	&__title {
		@extend %title;
	}

	&__description {
		margin-top: 20px;
	}

	&__list {
		display: flex;
		@include mobile {
			margin-top: 60px;
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}
	}

	&__item {
		@include mobile {
			&:nth-last-child(-n + 3) {
				display: none;
			}
			width: 280px;
			height: 280px;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		border: 11px solid var(--accent-scnd);
		border-radius: 50%;
	}

	&__image {
		@include mobile {
			width: 225px;
			height: 225px;
		}
	}
}
.customers {
	&__container {
		@extend %container;
		@extend %section;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		@include mobile {
			background-image: url(../img/bcgd/customers_mobile.svg);
		}
	}

	&__title {
		@extend %title;
	}

	&__description {
		@include mobile {
			margin-top: 20px;
		}
	}
}
.opinion {
	&__list {
		display: flex;
		@include mobile {
			margin-top: 32px;
			flex-direction: column;
			gap: 24px;
		}
	}

	&__item {
		background-color: var(--tert-bcgd);
		@include mobile {
			padding: 8px;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
			&::before {
				content: "";
				display: block;
				width: 100px;
				height: 16px;
				background-image: url(../img/icons/star.svg);
				background-size: 20px 16px;
			}
		}
	}

	&__review {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.18;
		@include mobile {
			margin-top: 28px;
		}
	}
	&__author {
		&-card {
			margin-top: 40px;
			width: 160px;
			display: flex;
			align-items: center;
			gap: 16px;
			border-right: 1px solid var(--btn-border);
		}

		&-photo {
		}

		&__info {
		}

		&-name {
			font-weight: 500;
			line-height: 1.5;
		}

		&-post {
			line-height: 1.5;
		}
	}
}
.subscribe {
	&__container {
		@extend %container;
		@extend %section;
		position: relative;
	}

	&__image {
		width: 280px;
		height: 78px;
		position: absolute;
		top: -43px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__title {
		@extend %title;
	}

	&__description {
		margin-top: 20px;
	}

	&__form {
		margin-top: 40px;
	}

	&__input {
		@extend %input;
	}

	&__btn {
		margin-top: 20px;
		@extend %btn, %btn-prim;
		padding: 11px 22px;
		display: block;
		margin-left: auto;
	}
}
.page-footer {
	&__container {
		@extend %container;
		@extend %section;
		box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		@include mobile {
			background-image: image-set(
				url("../img/bcgd/footer/footer_mobile.webp") 1x,
				url("../img/bcgd/footer/footer_mobile.png") 1x
			);
			@include retina {
				background-image: image-set(
					url("../img/bcgd/footer/footer_mobile@2x.webp") 2x,
					url("../img/bcgd/footer/footer_mobile@2x.png") 2x
				);
			}
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		@include mobile {
			display: inline-block;
			vertical-align: top;
		}
	}

	&__icon {
	}

	&__nav {
		@include mobile {
			display: inline-block;
			margin-right: 80px;
		}
	}

	&__item {
		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__link {
		color: var(--scnd-text);
		@include animated(color);
		&:hover,
		&:focus {
			color: var(--accent);
		}
	}

	&__form {
		@include mobile {
			margin-top: 40px;
		}
	}

	&__label {
		font-weight: 500;
		line-height: 1.5;
	}

	&__input {
		@extend %input;
		@include mobile {
			margin-top: 12px;
		}
	}

	&__btn {
		@extend %btn, %btn-scnd;
		padding: 9px 20px;
		@include mobile {
			margin-top: 20px;
			display: block;
			margin-left: auto;
		}
	}

	&__agreement {
		margin-top: 20px;
		font-size: 10px;
		line-height: 1.2;
	}

	&__license {
		text-decoration: underline;
		color: var(--btn-border);
	}
}
.extras {
	&__list {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		font-size: 10px;
		line-height: 1.2;
	}

	&__link {
		text-decoration: underline;
		color: var(--btn-border);
	}

	&__license {
		text-align: center;
		margin-top: 40px;
	}
}
