.page-footer {
	&__container {
		@extend %container;
		box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		@include mobile {
			padding-top: 60px;
			padding-bottom: 60px;
			background-image: image-set(
				url("../img/bcgd/footer/footer_bcgd_mobile.webp") 1x,
				url("../img/bcgd/footer/footer_bcgd_mobile.png") 1x
			);
			@include retina {
				background-image: image-set(
					url("../img/bcgd/footer/footer_bcgd_mobile@2x.webp") 2x,
					url("../img/bcgd/footer/footer_bcgd_mobile@2x.png") 2x
				);
			}
		}
		@include tablet {
			padding-top: 100px;
			padding-bottom: 100px;
			background-image: image-set(
				url("../img/bcgd/footer/footer_bcgd_tablet.webp") 1x,
				url("../img/bcgd/footer/footer_bcgd_tablet.png") 1x
			);
			@include retina {
				background-image: image-set(
					url("../img/bcgd/footer/footer_bcgd_tablet@2x.webp") 2x,
					url("../img/bcgd/footer/footer_bcgd_tablet@2x.png") 2x
				);
			}
		}
		@include desktop {
			padding-top: 100px;
			padding-bottom: 100px;
			background-image: image-set(
				url("../img/bcgd/footer/footer_bcgd_desktop.webp") 1x,
				url("../img/bcgd/footer/footer_bcgd_desktop.png") 1x
			);
			@include retina {
				background-image: image-set(
					url("../img/bcgd/footer/footer_bcgd_desktop@2x.webp") 2x,
					url("../img/bcgd/footer/footer_bcgd_desktop@2x.png") 2x
				);
			}
		}
	}

	&__wrapper {
		display: flex;
		@include mobile {
			justify-content: space-between;
		}
		@include tablet {
			align-items: center;
		}
	}

	&__logo {
		@include mobile {
			vertical-align: top;
		}
	}

	&__icon {
		display: block;
	}

	&__nav {
		@include mobile {
			display: inline-block;
			margin-right: 80px;
		}
		@include tablet {
			margin-right: 200px;
			margin-left: auto;
		}
	}

	&__list {
		@include tablet {
			display: flex;
			align-items: center;
			gap: 28px;
		}
	}

	&__item {
		@include mobile {
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}

	&__link {
		display: inline-block;
		font-size: 14px;
		line-height: 1.14;
		color: var(--scnd-text);
		@include animated(color);
		@include mobile {
			&:active {
				color: var(--accent);
			}
		}
		@include tabletPlus {
			padding-top: 18px;
			padding-bottom: 18px;
			&:hover,
			&:focus {
				color: var(--accent);
			}
		}
	}

	&__form {
		margin-top: 40px;
	}

	&__label {
		font-weight: 500;
		line-height: 1.5;
		@include tablet {
			display: block;
		}
	}

	&__input {
		@extend %input;
		margin-top: 12px;
		@include mobile {
			width: 100%;
		}
		@include tablet {
			width: 280px;
		}
	}

	&__btn {
		@extend %btn, %btn-scnd;
		padding: 9px 20px;
		@include mobile {
			margin-top: 20px;
			display: block;
			margin-left: auto;
		}
		@include tablet {
			margin-left: 13px;
		}
	}

	&__agreement {
		@include mobile {
			margin-top: 20px;
			font-size: 10px;
			line-height: 1.2;
		}
		@include tablet {
			margin-top: 12px;
			font-size: 12px;
			line-height: 1.17;
		}
	}

	&__license {
		text-decoration: underline;
		color: var(--border-color);
	}
}
.extras {
	@include mobile {
		margin-top: 60px;
	}
	@include tablet {
		margin-top: 100px;
		display: flex;
		align-items: center;
	}
	&__list {
		display: flex;
		@include mobile {
			justify-content: space-between;
		}
		@include tablet {
			gap: 20px;
		}
	}

	&__item {
	}

	&__link {
		text-decoration: underline;
		color: var(--border-color);
		@include mobile {
			font-size: 10px;
			line-height: 1.2;
		}
		@include tabletPlus {
			font-size: 12px;
			line-height: 1.17;
		}
	}

	&__license {
		@include mobile {
			margin-top: 40px;
			text-align: center;
		}
		@include tablet {
			margin-left: auto;
			font-size: 12px;
			line-height: 1.17;
		}
	}
}
