.subscribe {
	&__container {
		@extend %container;
		@include mobile {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@include tablet {
			padding-top: 80px;
			padding-bottom: 100px;
		}
		position: relative;
	}

	&__image {
		position: absolute;
		@include mobile {
			width: 160px;
			height: 78px;
			top: -43px;
			left: 50%;
			transform: translateX(-50%);
		}
		@include tablet {
			width: 280px;
			height: 135px;
			left: 455px;
			top: -73px;
		}
		@include desktop {
			width: 610px;
			height: 265px;
		}
	}

	&__title {
		@extend %title;
	}

	&__description {
		margin-top: 20px;
		@include tablet {
			line-height: 1.5;
		}
	}

	&__form {
		@include mobile {
			margin-top: 40px;
		}
		@include tablet {
			margin-top: 24px;
		}
	}

	&__input {
		@extend %input;
		@include mobile {
			width: 100%;
		}
		@include tablet {
			width: 395px;
		}
	}

	&__btn {
		@include mobile {
			margin-top: 20px;
			display: block;
			margin-left: auto;
		}
		@include tablet {
			display: inline-block;
			margin-left: 22px;
		}
		@extend %btn, %btn-prim;
		padding: 11px 22px;
	}
}
