%container {
	margin-left: auto;
	margin-right: auto;
	@include mobile {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 480px;
	}
	@include tablet {
		padding-left: 32px;
		padding-right: 32px;
		width: 768px;
	}
	@include desktop {
		padding-left: 16px;
		padding-right: 16px;
		width: 1280px;
	}
}

%section {
	padding-top: 60px;
	padding-bottom: 60px;
}

%btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 30px;
	cursor: pointer;
	&-menu {
		border: none;
		cursor: pointer;
		background-color: transparent;
		fill: var(--border-color);
		@include animated(fill);
		&:hover,
		&:focus,
		&:active {
			fill: var(--accent-scnd);
		}
	}
	&-prim {
		@include animated;
		border: none;
		background-color: var(--accent);
		&:hover,
		&:focus {
			background-color: var(--btn-bcgd-focus);
		}
	}
	&-scnd {
		@include animated(border-color);
		border: 2px solid var(--border-color);
		background-color: var(--tert-bcgd);
		&:hover,
		&:focus {
			border-color: var(--border-focus);
		}
	}
	&-tert {
		@include animated;
		border: 1px solid var(--border-color);
		background-color: var(--tert-bcgd);
		&:hover,
		&:focus {
			background-color: var(--accent-scnd);
		}
	}
}

%title {
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.18;
}

%input {
	outline: none;
	border: 1px solid var(--accent-scnd);
	border-radius: 30px;
	@include mobile {
		padding-left: 10px;
		width: 100%;
		height: 42px;
	}
	&::placeholder {
		font-size: 12px;
		line-height: 1.5;
	}
}

%visuality-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
