:root {
	--accent: #bbf330;
	--accent-scnd: #ffe550;
	--prim-text: #2c2c2c;
	--scnd-text: #000000;
	--prim-bcgd: #fefefe;
	--scnd-bcgd: #f5f5f5;
	--tert-bcgd: #ffffff;
	--btn-bcgd-focus: #b5ff00;
	--btn-border: #7eb101;
	--btn-border-focus: #597d00;
}
